{% extends 'base.html' %}

{% block header %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=favorite" />


{% endblock header %}
    

{% block content %}


<div class="m-5">


<h1>Detail</h1>

<div class="alert alert-dark " role="alert">
    <strong>{{p.id}}</strong> 
    {{p.user}}
    <strong>
        <a href="" class="text-dark p-5">{{p.text}}</a>
    </strong>
</div>

{% if like %}
<a href="{% url 'like' p.id %}" class="text-dark p-3">
    <span class="material-icons">favorite</span>{{like_count}}
</a>
{% else %}
<a href="{% url 'like' p.id %}" class="text-dark p-3">
    <span class="material-symbols-outlined">favorite</span>{{like_count}}
</a>
{% endif %}

<a href="{% url 'update' p.id %}" class="text-dark p-3">
    <span class="material-icons">edit</span>
</a>
<a href="{% url 'delete' p.id %}" class="text-dark p-3">
    <span class="material-icons">delete</span>
</a>
<a href="{% url 'comment' p.id %}" class="text-dark p-3">
    <span class="material-icons-outlined">chat</span>
</a>

</div>


<div class="m-5">

<h1>Comment一覧</h1>
{% for c in comments %}
<div class="alert alert-info" role="alert">
    <strong>{{c.id}}</strong> 
    {{c.user}}
    <strong>
        <a href="" class="text-dark p-5">{{c.text}}</a>
    </strong>
</div>
{% endfor %}
</div>



{% endblock content %}
    