{% extends 'base.html' %}


{% block content %}

<h1>Detail</h1>


<div class="alert alert-dark" role="alert">
    <strong>{{p.id}}</strong> 
    {{p.user}}
    <strong>
        <a href="" class="text-dark p-5">{{p.text}}</a>
    </strong>
</div>

<a href="{% url 'like' p.id %}" class="text-dark">いいねする{{like_count}}</a>
<a href="{% url 'update' p.id %}" class="text-dark">編集する</a>
<a href="{% url 'delete' p.id %}" class="text-dark">削除する</a>
<a href="{% url 'comment' p.id %}" class="text-dark">コメントする</a>

{% endblock content %}
    